.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
}

.navbar h3 {
    margin: 0;
    font-size: 24px;
}

.navbar img {
    max-width: 130px; 
    height: auto; 
    margin-left: 100px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}
